body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.quickWeather {

}
.quickWeather .temperature {
    width:200px;
    float:left;
}

.quickWeather .temperature .actual {
    font-size:30px;
}

 .quickWeather .temperature .apparent {
    font-size: 20px;
}

.quickWeather .weatherIcon {
    font-size:50px;
}

.quickWeather .summary {
    width:100%;
    position: relative;
}

.hourly {

}

.hourly td {
    text-align:center;
    min-width:75px;
}
.hourly .hLabel {
    font-size:10px;
}

.forecast{
    padding:10px;
}

.forecast .summary{
    padding-top:10px;
    padding-bottom:10px;
}
.forecast .fTemp{
    font-size:20px;
    float:left;
    position:relative;
    top:0px;
    display:inline-block;
    width:150px;
}

    .forecast .fWeatherIcon {
        font-size: 50px;
        position: relative;
        display:inline;
    }
    .forecast .sunrise{
        display:inline-block;
    }
    .forecast .sunset{
        display:inline-block;
    }
    .forecast .sunPhaseDivide{
        display:inline-block;
        width: 50px;
    }
    .forecast .sunPhase{
        font-size: 30px;
        line-height: 30px;
    }

    /*.forecast .fLabel{
        font-size:10px;
    }*/