
@{
    ViewBag.Title = "Location Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Location Search Error</h2>

The location you searched for was not found.<br /><br />
@Html.ActionLink("Change Location", "LocationSearch", "Weather")
